In [29]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [33]:
#response=requests.get('https://mars.nasa.gov/news')

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [C:\Users\hanso\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [34]:
#Finding planet facts
url2 = 'https://space-facts.com/mars/'
browser.visit(url2)

#making a soup object
soup2 = bs(browser.html, 'html.parser')
type(soup2)

bs4.BeautifulSoup

In [35]:
tables = pd.read_html(url2)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [37]:
#this has to use [0] becuase it's a list and we need to step inside the [] in order to get to the values
df = tables[0]
df.head(9)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
#turn the dataframe into an html
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
#Finding the full-image for the astrogeology site
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [47]:
#set the variable for the links to follow for each image
image_nav=browser.find_by_id("h3")

type(image_nav)

splinter.element_list.ElementList

In [40]:
#following the link to the image
click_image=browser.find_by_tag("h3").first.click()

In [18]:
#navigate through the "more info" box to get to the final destination
#click_more_info=browser.links.find_by_partial_text("more info").first.click()

#each time we write code with the browser, we change the identity of the browser, so when we use it in this variable,
#it calls to the latest iteration.

#Use bs to parse the code (why am I doing this? what, exactly, does it do?)
soup=bs(browser.html, 'html.parser')
#print(soup.prettify())

#finding the code that indicates the download-the-pic link
pic_url=soup.find(name='div', class_="downloads")

#Setting the featured image for the image url
featured_image_url=pic_url.find(name='a').get('href')
featured_image_url

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [55]:
#Use soup to capture the headline of the page that the full-resolution image is on.
title=soup.find_all(name='h2', class_="title")
title[0]

In [27]:
#strip the header junk off the title
page_title=title[0].text.strip("<")
page_title

'Cerberus Hemisphere Enhanced'

In [ ]:
#this is where it ends--below here is noodling around

In [53]:
#return to the original landing page to scrape the titles there. 
url3 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url3)

title=soup.find_all(name='div', class_="description")

title
#image_nav

[<div class="description">
 <h3>Valles Marineris Hemisphere Unenhanced</h3>
 <p>Mosaic of the Valles Marineris hemisphere of Mars projected into…</p>
 </div>,
 <div class="description">
 <h3>Valles Marineris Hemisphere Enhanced</h3>
 <p>Mosaic of the Valles Marineris hemisphere of Mars projected into…</p>
 </div>,
 <div class="description">
 <h3>Syrtis Major Hemisphere Unenhanced</h3>
 <p>Mosaic of the Syrtis Major hemisphere of Mars projected into point…</p>
 </div>,
 <div class="description">
 <h3>Syrtis Major Hemisphere Enhanced</h3>
 <p>Mosaic of the Syrtis Major hemisphere of Mars projected into point…</p>
 </div>,
 <div class="description">
 <h3>Schiaparelli Hemisphere Unenhanced</h3>
 <p>Mosaic of the Schiaparelli hemisphere of Mars projected into point…</p>
 </div>]

In [ ]:
#Use BS to find the titles that we want to click through, then set up a loop to click through that list and append to it the
#resulting values.

In [ ]:
for x in range(1, 6):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    quotes = soup.find_all('span', class_='text')

    for quote in quotes:
        print('page:', x, '-------------')
        print(quote.text)

    browser.links.find_by_partial_text('Next').click()
    

hemisphere_image_urls = []

list_length=4 #is it 4 or 1? Four items, but all on one page.

for i in range (list_length):
     hemisphere_image_url.append("#what am I putting in here?I need to set some variable that I pull out of the loop returns?")   


a_list = ["a", "b", "c"]

list_length = len(a_list)

for i in range(list_length):
	a_list.append("New Element")

print(a_list)